body {
  padding: 0;
  margin: 0;
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}
#unity-canvas {
  background: white;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 600px;
  height: 352px;
  margin: 0 auto 20px auto;
  background: url("loading-logo.png") no-repeat center;
  background-size: contain;
}
#unity-progress-bar-empty {
  width: 600px;
  height: 4px;
  margin-top: 10px;
  border-radius: 8px;
  background: #93d500;
}
#unity-progress-bar-full {
  width: 0%;
  height: 4px;
  margin-top: 10px;
  border-radius: 8px;
  background: #00af50;
}
#unity-footer {
  position: relative;
}
.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
  display: none;
}
#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
  display: none;
}
#unity-fullscreen-button {
  cursor: pointer;
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
  background-size: contain;
}
#unity-mobile-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
#video-player-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
#video-close-button {
  cursor: pointer;
  float: right;
  width: 45px;
  height: 45px;
  background: url("back-button.png") no-repeat center;
  background-size: contain;
}
#video-player {
  width: 100%;
}
#video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}
#video-title {
  text-align: center;
}
#video-source {
  text-align: center;
}
#pdf-viewer-container {
  overflow: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
#pdf-close-button {
  cursor: pointer;
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  top: 0;
  background: url("back-button.png") no-repeat center;
  background-size: contain;
}
