body {
  padding: 0;
  margin: 0;
  font-family: "Gilroy", Arial, Helvetica, sans-serif !important;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#unity-container {
  position: absolute;
}
#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#unity-container.unity-mobile {
  width: 100%;
  height: 100%;
}
#unity-canvas {
  background: white;
  width: 100% !important;
  height: 100% !important;
}
.unity-mobile #unity-canvas {
  width: 100%;
  height: 100%;
}
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#unity-logo {
  width: 600px;
  height: 352px;
  margin: 0 auto 20px auto;
  background: url("loading-logo.png") no-repeat center;
  background-size: contain;
}
#unity-progress-bar-empty {
  width: 600px;
  height: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: rgba(0, 175, 80, 0.2);
}
#unity-progress-bar-full {
  width: 0%;
  height: 10px;
  margin-top: 10px;
  border-radius: 8px;
  background: #00af50;
}
#unity-footer {
  margin-top: 20px;
  position: relative;
  height: 38px;
}
.unity-mobile #unity-footer {
  display: none;
}
#unity-webgl-logo {
  float: left;
  width: 204px;
  height: 38px;
  background: url("webgl-logo.png") no-repeat center;
  display: none;
}
#unity-build-title {
  float: right;
  margin-right: 10px;
  line-height: 38px;
  font-family: arial;
  font-size: 18px;
  display: none;
}
#unity-fullscreen-button {
  cursor: pointer;
  float: right;
  width: 38px;
  height: 38px;
  background: url("fullscreen-button.png") no-repeat center;
  background-size: contain;
}
#unity-mobile-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: white;
  padding: 10px;
  display: none;
}
#video-player-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
#video-close-button {
  position: absolute;
  cursor: pointer;
  float: right;
  width: 45px;
  height: 45px;
  background: url("back-button.png") no-repeat center;
  background-size: contain;
}
#video-player {
  width: 100%;
  height: 100%;
}
#video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: opacity 300ms ease-in;
}
#video-title {
  text-align: center;
}
#video-source-text {
  text-align: center;
}
#pdf-viewer-container {
  overflow: auto;
  position: absolute;
  background-color: #dcdcdc;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}
#pdf-close-button {
  cursor: pointer;
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  top: 0;
  background: url("back-button.png") no-repeat center;
  background-size: contain;
}

#gallery-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
}

#image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
}

.gallery-slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  transition: transform 400ms ease-out;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.gallery-button {
  color: white;
  display: block;
  padding: 1rem;
  font-size: 3rem;
  cursor: pointer;
}

#gallery-next-button {
  right: 100%;
}

#gallery-previous-button {
  left: 100%;
}

#gallery-index-label {
  color: white;
  display: block;
  padding: 1rem;
  font-size: 3rem;
}

#gallery-image-title {
  color: white;
  display: block;
  padding: 1rem;
  font-size: 3rem;
}

#gallery-close-button {
  cursor: pointer;
  float: right;
  width: 45px;
  height: 45px;
  background: url("back-button.png") no-repeat center;
  background-size: contain;
}
